<header class="intro-header">
    <mat-toolbar style = "background-color: #78909c !important;"  class="mat-elevation-z8">
        <mat-toolbar-row>
                <span> {{title}} </span>
                <div class="spacer"></div>
                <!-- <button mat-icon-button fxShow="true" fxHide.gt-sm><mat-icon>menu</mat-icon></button> -->
                <a mat-button routerLink = "propos"> A propps de nous </a>
                <a mat-button routerLink = "service"> nos services </a>
                <a mat-button routerLink = "partenaire"> nos partenaires </a>
                <a mat-raised-button color="accent" routerLink = "contact"> contactez-nous </a>
        </mat-toolbar-row>
    </mat-toolbar>
    <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(../../assets/images/semi-trailer-gdc72e4bf3_1920.jpg);">
    <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
            <div class="row pt-5 mt-3 w-100">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>FOF
                            -HOLDING</strong></h2>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Transport &
                                logistique</strong></h5>
                                <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                            mdbWavesEffect>portfolio</a>
                            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
                            mdbWavesEffect>About me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
    <router-outlet></router-outlet>
</header>